* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 16px verdana, sans-serif;
  background: black;
  color: white;
  cursor: default;
  font-weight: bold;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
      animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#title_canvas {
  width: 720px;
  height: 640px;
}
#game_canvas {
  background-color: black;
          animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.pink {
  background: #FFBADD;
}
.blue {
  background: #01FFDF;
}
.brown {
  background: #FFBA41;
}
.yellow {
  color: #FFFF01;
}
.red {
  background: #FF0000;
}
.purple {
  color: #431359;
}
.green {
  color: rgba(50,217,92,0.5);
  margin-bottom: 20px;
}
.green:hover {
  color: #34DC5A;
  cursor: pointer;
}
.darkPink {
  color: #F23869;
}
.orange {
  background: #FF5A35;
}

.title {
  position: absolute;
  top: 450px;
  font-size: 32px;
}
.rematch {
  position: absolute;
  top: -130px;
  font-size: 32px;
  margin-left: 145px;
  width: 285px;
}
.host {
  margin-left: 245px;
  font-size: 38px !important;
}
.game_name {
  margin-top: 20px;
 margin-left: 90px;
}
.waiting {
  margin-left: 100px;
  text-align: center;
}
.btn {
  position: absolute;
  top: 110px;
}
.shadow {
    text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
}
.confirm {
  left: 110px;
}
.cancel {
  left: 330px;
}

.text-line {
  background-color: transparent;
  color: #F23869;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #FFFF01 1px;
  padding: 3px 10px;
  font-size: 18px;
}


.wrap {
  height: 100px;
  display: table;
  padding:10px;
  background: black;
  width: 40%;
}

.wrap p {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.small {
  width: 80px;
  height: 80px;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
  cursor: pointer;
  margin-left: 250px;
}
.upgradeShell {
  width: 330px;
  height: 32px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  margin: 0px;
  border: solid 1px;
}

.upgradeValue {
  width: 40%;
  height: 30px;
  background: rgba(50,217,92,0.5);
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  z-index: -1;
}
.reverseShell {
  width: 330px;
  height: 32px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  margin: 0px;
  border: solid 1px;
}

.reverseValue {
  width: 40%;
  height: 30px;
  background: rgba(255,255,255,0.5);
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  z-index: -1;
}
.barText {
  float: left; 
  margin: 5px 0 0 20px;
}
.upgrade {
  float: left;
  margin: 0 0 15px 0;
}
.reverse {
  float: right;
}
.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  15% { opacity: 1.0; }
  50% { opacity: 0.2; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  15% { opacity: 1.0; }
  50% { opacity: 0.2; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
  15% { opacity: 1.0; }
  50% { opacity: 0.2; }
  100% { opacity: 1.0; }
}

.frame{
 color: #431359;
   -webkit-animation: changes 5s infinite;
   -webkit-box-sizing:border-box;

   -moz-animation: changes 5s forwords infinite;
   -moz-box-sizing:border-box;
}


@-webkit-keyframes changes {
  10%,80% {color: #431359;}
  20% {color: #32D95C;}
  40% {color: #F23869;}
  60% {color: #FF5A35;}
  80% {color: #ECF230;}
  
}

@-moz-keyframes changes {
  10%,90% {color: #431359;}
  20% {color: #32D95C;}
  40% {color: #FA6D13;}
  60% {color: #FF5A35;}
  80% {color: #ECF230;}
}
.game_border{
  border: 2px solid #431359;
   -webkit-animation: cycle 20s infinite;
   -webkit-box-sizing:border-box;
  
   -moz-animation: cycle 20s forwords infinite;
   -moz-box-sizing:border-box;
}


@-webkit-keyframes cycle {
  10%,80% {border: 2px solid #431359;}
  20% {border: 2px solid #32D95C;}
  40% {border: 2px solid #F23869;}
  60% {border: 2px solid #FF5A35;}
  80% {border: 2px solid #ECF230;}
  
}

@-moz-keyframes cycle {
  10%,90% {border: 2px solid #431359;}
  20% {border: 2px solid #32D95C;}
  40% {border: 2px solid #FA6D13;}
  60% {border: 2px solid #FF5A35;}
  80% {border: 2px solid #ECF230;}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
