* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 16px verdana, sans-serif;
  background: black;
  color: white;
  cursor: default;
  font-weight: bold;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}
#title_canvas {
  width: 720px;
  height: 640px;
}
#game_canvas {
  background-color: black;
  border: 5px #32D95C solid;
}

.pink {
  background: #FFBADD;
}
.blue {
  background: #01FFDF;
}
.brown {
  background: #FFBA41;
}
.yellow {
  color: #FFFF01;
}
.red {
  background: #FF0000;
}
.purple {
  color: #431359;
}
.green {
  color: rgba(50,217,92,0.5);
  margin-bottom: 20px;
}
.green:hover {
  color: #34DC5A;
  cursor: pointer;
}
.darkPink {
  color: #F23869;
}
.orange {
  background: #FF5A35;
}

.title {
  position: absolute;
  top: 450px;
  font-size: 32px;
}
.host {
  margin-left: 245px;
  font-size: 38px !important;
}
.game_name {
  margin-top: 20px;
 margin-left: 90px;
}
.waiting {
  margin-left: 100px;
  text-align: center;
}
.btn {
  position: absolute;
  top: 110px;
}
.shadow {
    text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
}
.confirm {
  left: 110px;
}
.cancel {
  left: 330px;
}

.text-line {
    background-color: transparent;
    color: #F23869;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #FFFF01 1px;
    padding: 3px 10px;
    font-size: 18px;
}


.wrap {
  height: 100px;
  display: table;
  padding:10px;
  background: black;
  width: 40%;
}

.wrap p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.small {
  width: 30px;
  height: 30px;
}
.clear {
  clear: both;
}
ul {
    list-style: none;
    cursor: pointer;
    margin-left: 250px;
}

.bar {
  width: 330px;
  height: 20px;
  margin-bottom: 20px;
}
.upgrade {
  float: left;
}
.reverse {
  float: right;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    15% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    15% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    15% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

.frame{
  color: #431359;
   -webkit-animation: changes 5s infinite;
   -webkit-box-sizing:border-box;
  
   -moz-animation: changes 5s forwords infinite;
   -moz-box-sizing:border-box;
}


@-webkit-keyframes changes {
  10%,80% {color: #431359;}
  20% {color: #32D95C;}
  40% {color: #F23869;}
  60% {color: #FF5A35;}
  80% {color: #ECF230;}
  
}

@-moz-keyframes changes {
  10%,90% {color: #431359;}
  20% {color: #32D95C;}
  40% {color: #FA6D13;}
  60% {color: #FF5A35;}
  80% {color: #ECF230;}
}
